@charset "UTF-8";

@media screen and (max-width: 950px) {

    /* Cabeçario */
    header {
        width: 90.5vw;
        height: 150px;
    }

    header > div > h1{
        font-size: 8vw;
    }

    header > div > h2{
        font-size: 4vw;
    }

    header > div, header > div > p{
        position: relative;
        display: block;
    }

    header > div{
        text-align: center;
        margin: auto;
        display: block;
    }

    header > div > p{
        position: absolute;
        top: 80%;
        left: 50%;
        width: 300px;
        font-size: 4vw;
        text-align: center;
        display: block;
        margin-top: 40px;
        padding: 40px;
    }

    /* Corpo */

    #local{
        height: 420px;
    }

    #endereco {
        display: block;
        width: 150px;
    }

    #response-map{
        position: relative;
    }

    #map{
        position: absolute;

        top: 5%;
        left: 5%;
        width: 90%;
    }

    ul {
        margin: 10px 40px;
        columns: 1;
    }
    
    table{
        margin-left: 50px;
    }

    td, th{
        font-size: 1em;
        padding: 5px;
    }

}

@media screen and (min-width: 500px) {
    header{
        width: 92vw;
    }

    table{
        margin-left: 50px;
    }
}

@media screen and (max-width: 400px) {
    header{
        width: 102.9vw;
    }

    main{
        width: 400px;
    }

    table{
        margin-left: 0px;
    }

    section.mostruario{
        display: flexbox;
    }

    section.mostruario > table{
        flex: auto;
    }
}